.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 1 2.5s linear;  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.square{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 1180px;
}

.small-square{
  width: 50%;
  float: left;
}

.widget-title, .widget-content{
  width: 100%
}

hr{
  width: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.oi-plus {
  fill: greenyellow;
  stroke: greenyellow;
}

.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

header, footer{
  color: #fff;
}

header a{
  color: #fff;
}

@media only screen and (min-width: 768px){
  .row{
    margin-right: 60px !important;
    margin-left: 60px !important;
  }
}
@media only screen and (max-width: 768px){
  .row{
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}